<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}TANNAT Bookstore{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% block header %}
<nav class="navbar navbar-dark bg-dark sticky-top">
    <a href="{{ path('book_show') }}" class="navbar-brand">
        TAN LIBRARY
    </a>

    {% if app.user %}
        <a href="{{ path('book_show') }}" class="navbar-brand">
            Book list
        </a>
        <a href="{{ path('list_category') }}" class="navbar-brand">
            Category list
        </a>
        <a href="{{ path('list_category') }}" class="navbar-brand">
            About Us
        </a>
        <a href="{{ path('list_category') }}" class="navbar-brand">
            Contact Us
        </a>
        <a class="nav-link" href="{{ path('app_logout') }}">
                Logout</a>
    {% else %}
        <li><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
        <li>
            <a class="nav-link" href="{{ path('registration') }}">Register</a>
        </li>
    {% endif %}
    </ul>
</nav>
{% endblock %}
{% block body %}{% endblock %}
</body>
</html>